<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="about.css" /> 
    <title>About-Us</title>
</head>
<body>
    <div class="main_container">
        <div class="empty">
            <div class="photo">
                <img src="./images/profile.png">
            </div>
        </div>
        
        <div class="container_details">
            <div class="about_us">
                <h1 class="about_heading">About Us</h1>
                <p>My name is Shivam Chaudhary i am a Full Stack Developer. I have done my Under-Graduation
                    from University of Rajasthan and presently doing MCA from DY Patil University and i have experience building websites and web applications. I specialise in Python and have working with Node Js. Skilled in HTML, CSS, JS, JAVA, mongoDB</p>
                <div class="buttons">
                    <a href="./images/resume.pdf" target="_blank"><button>Resume</button></a>
                    <a href="/contact"><button>Contact</button></a>
                </div>
            </div>
            <div class="information">
                <div class="info_1 info">
                    <h2>01</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur aliquam totam perferendis blanditiis magni officiis laudantium tempora rerum, iste suscipit, odio in natus aliquid harum beatae, ipsam facere doloribus odit.</p>
                </div>
                <div class="info_2 info">
                    <h2>02</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur aliquam totam perferendis blanditiis magni officiis laudantium tempora rerum, iste suscipit, odio in natus aliquid harum beatae, ipsam facere doloribus odit.</p>
                </div>
                <div class="info_3 info">
                    <h2>03</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur aliquam totam perferendis blanditiis magni officiis laudantium tempora rerum, iste suscipit, odio in natus aliquid harum beatae, ipsam facere doloribus odit.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>