<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap"
      rel="stylesheet"
    />

    <script src="script.js" defer></script>

    <title>portfolio</title>
  </head>
  <body>
    <div class="arrow">
      <a class="arrow_container" href="#nav">
        <svg class="arrow_icon">
          <use xlink:href="icons/symbol.svg#icon-ctrl"></use>
        </svg>
        <svg class="arrow_icon">
          <use xlink:href="icons/symbol.svg#icon-ctrl"></use>
        </svg>
        <svg class="arrow_icon">
          <use xlink:href="icons/symbol.svg#icon-ctrl"></use>
        </svg>
      </a>
    </div>

    <div class="mobile_menu">
      <div class="mobile_nav_bar">
        <a class="mobile_nav_item" href="/">Home</a>
        <a class="mobile_nav_item" href="/project">Projects</a>
        <a class="mobile_nav_item" href="/contact">Contact</a>
        <a class="mobile_nav_item" href="/about">About</a>
        <ion-icon class="mobile_menu_icon" name="close-outline"></ion-icon>
      </div>
    </div>

    <nav class="nav_body" id="nav">
      <p class="logo">< <span>/</span> Developer ></p>
      <p></p>
      <div class="nav_bar">
        <a class="nav_item" href="/">Home</a>
        <a class="nav_item" href="/project">Projects</a>
        <a class="nav_item" href="/contact">Contact</a>
        <a class="nav_item" href="/about">About</a>
        <div class="menu">
          <img src="../../images/profile_1.jpg" alt="Profile photo" class="menu_image">
          <ion-icon class="menu_svg" name="menu-outline"></ion-icon>
        </div>
      </div>
    </nav>

    <div class="main">
      <div class="info">
        <div class="profile-photo">
          <img src="images/profile_1.jpg" />
        </div>
        <div class="details">
          <h2 class="name">Shivam <span>Chaudhary</span></h2>
          <div class="contacts">
            <div class="details-contact">
              <a class="contact__links" href="mailto:sshivam3765@gmail.com">sshivam3765@gmail.com</a>
              <a class="contact__link_icons" href="mailto:sshivam3765@gmail.com"
                ><ion-icon name="mail-open-outline" class="icons"></ion-icon
              ></a>
            </div>
            <div class="details-contact">
              <a class="contact__links" href="tel:9079581918">+91 9079581918</a>
              <a class="contact__link_icons" href="tel:9079581918"
                ><ion-icon
                  name="phone-portrait-outline"
                  class="icons"
                ></ion-icon
              ></a>
            </div>
            <div class="details-contact">
              <a  class="contact__links"
                href="https://www.linkedin.com/in/shivam-chaudhary-284787227/"
                target="_blank"
                >linkedIn</a
              >
              <a class="contact__link_icons" href="https://www.linkedin.com/in/shivam-chaudhary-284787227/">
              <svg class="icons_linkdin">
                <use xlink:href="icons/symbol.svg#icon-linkedin2"></use>
              </svg>
              </a>
            </div>
            <div class="details-contact">
              <a class="contact__links" href="https://github.com/shivam3765?tab=repositories">GitHub</a>
              <a class="contact__link_icons" href="https://github.com/shivam3765?tab=repositories"
                ><ion-icon name="logo-github" class="icons"></ion-icon></a>
            </div>
          </div>
        </div>
        <div class="discription">
          <h3>
            // A result-oriented and self-motivated BCA graduate, looking for a
            challenging career where I can implement my coding knowledge so that
            further enhance my skills. Strong knowledge of HTML, CSS,
            JavaScript, Python, C#. //
          </h3>
        </div>
      </div>
    </div>

    <section class="section-2 scrolling">
      <div class="front_card">
        <div class="dots">
          <p class="dot1">.</p>
          <p class="dot2">.</p>
          <p class="dot3">.</p>
        </div>
        <hr class="frontend_line" />
        <h1>Front end</h1>
        <p class="fronend_contant">
          // A front-end developer architects and develops websites and
          applications using web technologies (i.e., HTML, CSS, DOM, and
          JavaScript), which run on the Open Web Platform or act as compilation
          input for non-web platform environments (i.e., React Native) //
        </p>
      </div>
      <div class="back_card">
        <div class="dots">
          <p class="dot1">.</p>
          <p class="dot2">.</p>
          <p class="dot3">.</p>
        </div>
        <hr class="backend_line" />
        <h1>Back end</h1>
        <p class="backend_contant">
          // Back-end development means working on server-side software, which
          focuses on everything you can't see on a website. Back-end developers
          ensure the website performs correctly, focusing on databases, back-end
          logic, application programming interface (APIs), architecture, and
          servers. //
        </p>
      </div>
    </section>

    <section class="qualification scrolling">
      <div class="qulification_contaner">
        <div class="heading_edu"><h1 id="h1" >Education</h1></div>

        <div class="qulification_main_contant">
          <div class="main_qu_con">
            <div class="qu__stage">
              <h1>Secondary Education</h1>
            </div>
            <div class="dottes"></div>
            <div class="qu_detail">
              <h2>Central Board Of Secondary Education | 2014-15</h2>
              <ul>
                <li>School - BSF Sr. Sec. School, Gwalior</li>
                <li>Subject - Science</li>
                <li>Result - Passed</li>
              </ul>
            </div>
          </div>

          <div class="main_qu_con">
            <div class="qu_detail">
              <h2>Rajasthan Board Of Secondary Education | 2016-17</h2>
              <ul>
                <li>School - Govind Public Sr. Sec. School, Dholpur</li>
                <li>Subject - Physics | Chemistry | Maths</li>
                <li>Result - Passed</li>
              </ul>
            </div>
            <div class="dottes"></div>
            <div class="qu__stage">
              <h1>Higher Secondary Education</h1>
            </div>
          </div>

          <div class="main_qu_con">
            <div class="qu__stage">
              <h1>Graduation</h1>
            </div>
            <div class="dottes"></div>
            <div class="qu_detail">
              <h2>University Of Rajasthan | 2019-22</h2>
              <ul>
                <li>College - St. Willfred Pg College, Jaipur</li>
                <li>Course - BCA</li>
                <li>Result - Passed</li>
              </ul>
            </div>
          </div>

          <div class="main_qu_con">
            <div class="qu_detail">
              <h2>Ajeenkya DY Patil University Pune | 2022-24</h2>
              <ul>
                <li>Course - MCA</li>
                <li>Specialization - Full Stack Developer</li>
                <li>Result - Passed</li>
              </ul>
            </div>
            <div class="dottes"></div>
            <div class="qu__stage">
              <h1>Post-Graduation</h1>
            </div>
          </div>
            
        </div>
      </div>
    </section>

    <section class="skill scrolling">
      <div class="skill_heading_block">
        <h1 class="skill_heading">Skill</h1>
      </div>
      <div class="skill_main_contaner">
        <div class="skill_content1">
          <div class="html">
            <div class="skill_text">
              <h2>HTML</h2>
              <p>95%</p>
            </div>
            <div class="html_graph">
              <div class="graph_outbox">
                <div class="graph_inbox"></div>
              </div>
            </div>
          </div>
          <div class="css">
            <div class="skill_text">
              <h2>CSS</h2>
              <p>80%</p>
            </div>
            <div class="css_graph">
              <div class="graph_outbox">
                <div class="graph_inbox"></div>
              </div>
            </div>
          </div>
          <div class="mongodb">
            <div class="skill_text">
              <h2>MongoDb</h2>
              <p>80%</p>
            </div>
            <div class="mongodb_graph">
              <div class="graph_outbox">
                <div class="graph_inbox"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="skill_content2">
          <div class="javascript">
            <div class="skill_text">
              <h2>JavaScript</h2>
              <p>80%</p>
            </div>
            <div class="javascript_graph">
              <div class="graph_outbox">
                <div class="graph_inbox"></div>
              </div>
            </div>
          </div>
          <div class="python">
            <div class="skill_text">
              <h2>Python</h2>
              <p>90%</p>
            </div>
            <div class="python_graph">
              <div class="graph_outbox">
                <div class="graph_inbox"></div>
              </div>
            </div>
          </div>
          <div class="git">
            <div class="skill_text">
              <h2>Git</h2>
              <p>70%</p>
            </div>
            <div class="git_graph">
              <div class="graph_outbox">
                <div class="graph_inbox"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service scrolling">
      <h1 class="service_heading">What can i do?</h1>
      <div class="service_main">
        <div class="web_design service_box">
          <div class="web_icon">
            <svg class="service_icon">
              <use xlink:href="images/icons.svg#icon-laptop_mac"></use>
            </svg>
            <h2>Web Design</h2>
          </div>
          <div class="web_design_content">
            <p class="service_text">
              Web design refers to the design of websites that are displayed on the internet. It usually refers to the user experience aspects of website development rather than software development. Web design used to be focused on designing websites for desktop browsers.
            </p>
          </div>
          <div class="read_btn">
            <button class="btn_read">Read More</button>
          </div>
        </div>
        <div class="web_development service_box">
          <div class="web_development_icon">
            <svg class="service_icon">
              <use xlink:href="images/icons.svg#icon-embed"></use>
            </svg>
            <h2>Web Development</h2>
          </div>
          <div class="web_development_content">
            <p class="service_text">
              Web application development is the creation of application programs that reside on remote servers and are delivered to the user's device over the Internet. A web application (web app) does not need to be downloaded and is instead accessed through a network.
            </p>
          </div>
          <div class="read_btn">
            <button class="btn_read">Read More</button>
          </div>
        </div>
        <div class="apps_design service_box">
          <div class="apps_design_icon">
            <svg class="service_icon">
              <use xlink:href="images/icons.svg#icon-apple"></use>
            </svg>
            <h2>App Design</h2>
          </div>
          <div class="apps_design_content">
            <p class="service_text">
              App design is an ongoing process comprising user experience (UX) and user interface (UI) elements. Designers ideate, define solutions, create the app's flow and structure, and make stylistic choices from colors to fonts. Designers base choices on user research and feedback. The result is an app that looks nice and is easy to use.  
            </p>
          </div>
          <div class="read_btn">
            <button class="btn_read">Read More</button>
          </div>
        </div>
        <div class="ui_design service_box">
          <div class="ui_design_icon">
            <svg class="service_icon">
              <use xlink:href="images/icons.svg#icon-android"></use>
            </svg>
            <h2>UI/UX Design</h2>
          </div>
          <div class="ui_design_content">
            <p class="service_text">
              UX Design is the process of deciding how someone will use an app and creating a viable product. It's during the UX process that mobile app design ideas are generated and validated, to make sure that all your choices are going to work so that your app works. 
            </p>
          </div>
          <div class="read_btn">
            <button class="btn_read">Read More</button>
          </div>
        </div>
        <div class="social_media service_box">
          <div class="social_media_icon">
            <svg class="service_icon">
              <use xlink:href="images/icons.svg#icon-twitter"></use>
            </svg>
            <h2>Social Media</h2>
          </div>
          <div class="social_media_content">
            <p class="service_text">
              Social media design is the practice of creating visuals for social media platforms such as Instagram, Facebook, TikTok, Twitter, and more. This includes posts, stories, profile images, graphics, and other visuals to help support your content strategy.
            </p>
          </div>
          <div class="read_btn">
            <button class="btn_read">Read More</button>
          </div>
        </div>
        <div class="wordpress service_box">
          <div class="wordpress_icon">
            <svg class="service_icon">
              <use xlink:href="images/icons.svg#icon-wordpress"></use>
            </svg>
            <h2>WordPress</h2>
          </div>
          <div class="wordpress_content">
            <p class="service_text">
              WordPress is a free and open-source Content Management System (CMS). It is an online site based on PHP and MySQL. It was mainly designed as a blogging tool but now it has evolved into a versatile CMS. Where, you can use it to create a simple blog as well as a fully operationable website and mobile applications. It is even used to create an online store using some WordPress plugins.
            </p>
          </div>
          <div class="read_btn">
            <button class="btn_read">Read More</button>
          </div>
        </div>
      </div>
    </section>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
