<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project.css">

    <title>Project's</title>
</head>
<body>
    <section class="section_heading">
        <h1 class="heading">< / MY Project's ></h1>
    </section>

    <section class="section_main">
        <div class="main_container">
            <div class="project project-1">
                <img src="images/proj-1.jpg">
                <div class="hidden_containt">
                    <p class="text">This project is based on Ecommerce site project To buy clothe's.</p>
                    <a href="https://github.com/shivam3765?tab=repositories">
                        <button class="btn">visit</button>  
                    </a>
                </div>
            </div>

            <div class="project project-2">
                <img src="images/proj-2.jpg">
                <div class="hidden_containt">
                    <p class="text">This project is based on musicplayer To paly your playlist's.</p>
                    <a href="https://github.com/shivam3765?tab=repositories">
                        <button class="btn">visit</button>
                    </a>
                </div>
            </div>

            <div class="project project-3">
                <img src="images/proj-3.jpg">
                <div class="hidden_containt">
                    <p class="text">This project is based on ToDo list To write your todo list's.</p>
                    <a href="https://github.com/shivam3765?tab=repositories">
                        <button class="btn">visit</button>
                    </a>
                </div>
            </div>

            <div class="project project-4">
                <img src="images/proj-4.png">
                <div class="hidden_containt">
                    <p class="text">This project is based on current time To check time of different country's.</p>
                    <a href="https://github.com/shivam3765?tab=repositories">
                        <button class="btn">visit</button>
                    </a>
                </div>
            </div>

        </div>
    </section>
</body>
</html>