<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="project.css">

    <title>Project's</title>

    <script src="project.js"></script>

</head>
<body>
    <section class="section_heading">
        <h1 class="heading">< / MY Project's ></h1>
    </section>

    <section class="section_main">
        <div class="main_container" id="main_container">
            
        </div>
    </section>
</body>
</html>